.ui-input-text {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-header .ui-title {
    margin: .6em 11% .8em;
}

#loginPage .ui-content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding:5px;
}

#directoryPage .ui-content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    #directoryPage .ui-content .ui-listview {
        margin-top: 0px;
    }

#moveConfirmButton, #moveCancelButton {
    margin:0 10px;
}

.context {
    display: none;
}

/* Directory page */
#directoryPage {
    max-height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height:100%;
}

    #directoryPage .ui-content {
        height: 100%;
    }

        #directoryPage .ui-content .ui-field-contain {
            margin: 0px;
            height: 99% !important;
        }


/* IScroll */
.ui-content {
border-width: 0;
overflow: visible;
overflow-x: hidden;
padding: 0px;
}

.iscroll-scroller {
    min-height: 0px;
}

.iscroll-wrapper {
padding: 0px;
}

/* Fix navbar position */
header .ui-btn-icon-top .ui-icon, .ui-footer .ui-btn-icon-top .ui-icon, .ui-mini.ui-btn-icon-top .ui-icon, .ui-mini .ui-btn-icon-top .ui-icon {
    top: 10px;
}

.ui-navbar.ui-mini {
    margin: 5px 0;
}

#directoryPage .ui-navbar .ui-btn {
    border: none;
    background: none;
}

#directoryPage .ui-navbar #movPickTargetOk {
    border-right: 1px solid white;
}


#directoryPage .ui-navbar .ui-btn-inner {
    background: none;
    border: none;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:20px;
}

#directoryPage .ui-navbar #navbarMoveButtonSingle > .ui-btn-inner, #directoryPage .ui-navbar #navbarMoveButtonMultiple > .ui-btn-inner {
    background-image: url('../images/white/move.png');
}

#directoryPage .ui-navbar #navbarRenameButtonSingle > .ui-btn-inner {
    background-image: url('../images/white/rename.png');
}

#directoryPage .ui-navbar #navbarDeleteButtonSingle > .ui-btn-inner, #directoryPage .ui-navbar #navbarDeleteButtonMultiple > .ui-btn-inner {
    background-image: url('../images/white/delete.png');
}

#directoryPage .ui-navbar #navbarShareButtonSingle > .ui-btn-inner {
    background-image: url('../images/white/share.png');
}

#directoryPage .ui-navbar #navbarVersionsButtonSingle > .ui-btn-inner {
    background-image: url('../images/white/restore.png');
}

/* Menu popup */
#menuPopup-popup {
    position:absolute;
    top:15px;
    left:0px;
    bottom:8px;
    right:0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#menuPopup {
 /*   margin: 10px 0;*/
    height:100%;
    background:#eee;
}

#menuPopupHeader {
    -webkit-border-top-left-radius: 0.6em;
    border-top-left-radius: 0.6em;
}

    #menuPopup .ui-content {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
        padding:48px 10px 5px 10px;
        /*height:100%;*/
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

        #menuPopup .ui-content .ui-listview {
            margin: 0px;
        }

#menuItemsList {
    
}

/* Dialogues */
.ui-simpledialog-container {
    padding: 0;
}

.ui-simpledialog-controls > .ui-input-text {
    margin: 5px;
    padding: 0;
    width: 95% !important;
}

    .ui-simpledialog-controls > .ui-input-text > .ui-simpledialog-input {
        padding: .4em .4em;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
    }


/* Checkbox */
li.listElement .ui-block-a {
    display: none;
}

/* Icon */
#directoryView li.listElement .ui-block-b {
    padding-left:1px;
    width: 60px;
    height:45px;
    background-size: auto 45px;
    background-repeat: no-repeat;
    background-position: center center;
}


/*#directoryView li.listElement .ui-block-c {
    position: absolute;
    padding-left: 70px;
    width: 100%;
}*/

li.listElement.showCheckbox .ui-block-a { /* mit checkbox */
    display: block; 
    width:35px;
}

li.listElement.showCheckbox .ui-block-b {
    padding-left:1px;
}

li.listElement.showCheckbox .ui-block-b img{
    width: 48px;
    height: 48px;
}

li.listElement.showCheckbox .ui-block-c {
padding-left: 15px;
width: 70%;
}

.fileIcon{
    max-width: 40px;
    max-height: 45px;
}

.selectionCheckbox {
    width: 24px;
    height: 24px;
}


/* Checkbox-Style */
li {
    padding-left: 20px;
}

#directoryView li .ui-li-heading {
        margin: .4em 0;
}

#directoryView .ui-checkbox > label {
    border: none;
    background: transparent;
    width: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
}

    #directoryView .ui-checkbox > label .ui-btn-inner {
        height: 30px;
        padding: 0px;
    }

    #directoryView .ui-checkbox .ui-icon-checkbox-off,
    #directoryView .ui-checkbox .ui-icon-checkbox-on {
        left: 5px;
    }

#directoryView .ui-checkbox input[type=checkbox] {
    visibility: hidden;
}


/* share and history and restore popup */
#sharePopup-popup, #historyPopup-popup, #restorePopup-popup  {
    position:absolute;
    top:15px;
    left:0px;
    bottom:8px;
    right:0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#sharePopup, #historyPopup, #restorePopup {
 /*   margin: 10px 0;*/
    height:100%;
    background:#eee;
}

#sharePopupHeader, #historyPopupHeader, #restorePopupHeader {
    -webkit-border-top-left-radius: 0.6em;
    border-top-left-radius: 0.6em;
}

    #sharePopup .ui-content,  #historyPopup .ui-content, #restorePopup .ui-content {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
        padding:48px 10px 5px 10px;
        /*height:100%;*/
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

    #sharePopup .ui-listview-filter, #historyPopup .ui-listview-filter, #restorePopup .ui-listview-filter {
        margin: 0px;
        width: 100%;
        background:none;
    }

        #sharePopup .ui-listview-filter div, #historyPopup .ui-listview-filter div, #restorePopup .ui-listview-filter div {
            -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
            width: auto;
        }

#sharePopupContentLayer {
    background:#eee;        
}

.ui-popup-hidden {
    display: none;
}

#shareList, #historyList, #restoreList {
    margin: 0px;
}

    #shareList .listElement, #historyList .listElement, #restoreList .listElement {
        background: none;
    }

#shareList li, #historyList li, #restoreList li {
    padding-left: 10px;
}

    #shareList li .ui-li-heading, #historyList li .ui-li-heading, #restoreList li .ui-li-heading {
        margin: .4em 0;
    }

#shareList .ui-checkbox > label, #historyList .ui-checkbox > label, #restoreList .ui-checkbox > label {
    border: none;
    background: transparent;
    width: 30px;
    margin: 0px;
}

    /*#shareList .ui-checkbox > label .ui-btn-inner {
        height: 20px;
        padding: 0px;
    }*/

    #shareList .ui-checkbox .ui-icon-checkbox-off,
    #shareList .ui-checkbox .ui-icon-checkbox-on, 
    #historyList .ui-checkbox .ui-icon-checkbox-off,
    #historyList .ui-checkbox .ui-icon-checkbox-on,
    #restoreList .ui-checkbox .ui-icon-checkbox-off,
    #restoreList .ui-checkbox .ui-icon-checkbox-on {
        left: 5px;
    }

#shareList .ui-checkbox input[type=checkbox], 
#historyList .ui-checkbox input[type=checkbox], 
#restoreList .ui-checkbox input[type=checkbox] {
    visibility: hidden;
}

/* Image Popup */
#imagePopup-popup {
    position:absolute;
    top:55px !important;
    left:0px;
   /*bottom:8px;*/
    right:0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#imagePopupImg {
    width:100%;
    max-height:none;
}
#videoPopup-popup {
    position:absolute;
    top:55px !important;
    left:0px;
   /*bottom:8px;*/
    right:0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#objectPopup {
   height:95%;
}
#objectPopup-popup {
    position:absolute;
    top:55px !important;
    left:0px;
 

   /*bottom:8px;*/
    right:0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#objectSource {
    width:100%;
    height:100%;
    max-height:none;
}

/* Restore file */
#restoreList li.listElement.showCheckbox .ui-block-a {
    top: 10px;
    position: relative;
}
